$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#sign-up {
  margin-top: 10px;
}

#sign-out {
  margin: 5px;
}

#modal-wrapper {
  text-align: center;
}

.app-wrapper {
  width: 100%;
  padding: 0;
}

.game-board {
  clear: both;
  width: 50%;
  min-width: 280px;
  margin: 10px auto;
}

.player-stats {
  height: 100px;
  width: 48%;
  float: left;
  display: inline-block;
  margin: 1%;
}

#player-x-stats {
  background-color: lightgray;
  text-align: center;
}

#player-y-stats {
  background-color: gray;
  text-align: center;
}


.game-title {
  text-align: center;
  padding: 0;
}

#change-password-button {
  margin: 5px;
}

.button-holder {
  margin-top: 15px;
  text-align: center;
  clear: both;
}

.btn {
  background: none;
  border: 1px solid black;
  color: black;
}

.col-xs-4 {
  min-height: 50px;
  font-size: 30px;
  text-align: center;
}

.row-1 {
  border-bottom: 3px solid black;
}

.row-2 {
  border-bottom: 3px solid black;
}

.column-1 {
  border-right: 3px solid black;
}

.column-2 {
  border-right: 3px solid black;
}

.form-wrapper {
  width: 40%;
  float: right;
}

.form-inline {
  padding: 20px 0 20px 0;
}

#sign-up .modal-footer {
  margin-top: 10px;
}

#sign-in .modal-footer {
  margin-top: 10px;
}

#change-password .modal-footer {
  margin-top: 10px;
}

#status-board {
  width: 95%;
  height: 20px;
  text-align: center;
  padding: 0px;
}

#welcome-modal-body p {
  color: #AF0042;
  font-weight: bold;
}
